<app-header></app-header>

<app-side-nav></app-side-nav>

<body>
  <!-- <div class="container text-center "> 
      <div class="text-center" style="margin-left:225px; margin-top: 100px">
        <div>
          <label for="sel">Search By (select one):</label>
            <select class="form-control dropdown-size" id="sel">
              <option>All</option>
              <option>Application Code</option>
              <option>Member Code</option>
              <option>Member Name</option>
              <option>Applied Amount</option>
              <option>Application Date</option>
            </select>
        </div>
      </div>
  </div> -->
  <div class="container">
    <div class="table-wrapper" style="margin-top:100px">
      <table class="table table-bordered">
          <tr>
            <th class="text-center">Application Code</th>
            <th class="text-center">Member Code </th>
            <th class="text-center">Member Name</th>
            <th class="text-center">Applied Amount</th>
            <!-- <th class="text-center">Application Date</th> -->
            <th></th>
          </tr>
          <tr *ngFor="let user of users; let i= index;">
              <td>
                <input type="number" [(ngModel)]="user.application_code" class="text-center cell">
              </td>
              <td>
                <input type="number" [(ngModel)]="user.member_code"  class="text-center cell">
              </td>
              <td>
                <input type="text" [(ngModel)]="user.member_name" class="text-center cell">
              </td>
              <td>
                <input type="number" [(ngModel)]="user.loan_amount" class="text-center cell">
              </td>
              <!-- <td>
                <input type="date" [(ngModel)]="employee.cnumber" class="text-center">
              </td> -->
              <td>
                <button class="btn btn-primary" style="height:32px" (click)="onSubmit(user)">Approve</button>
                  <!-- <button class="edit" title="Edit" data-toggle="tooltip" (click)="employee.isEditable=!employee.isEditable" *ngIf="!employee.isEditable"><i class="material-icons">&#xE254;</i></button> -->
                  <!-- <button class="save" title="Save" data-toggle="tooltip" *ngIf="employee.isEditable" (click)="employee.isEditable=!employee.isEditable"><i class="material-icons">&#xE161;</i></button>
                  <button class="delete" title="Delete" data-toggle="tooltip" (click)="deleteEmployee(i)"><i class="material-icons">&#xE872;</i></button> -->
              </td>
          </tr>
      </table>
    </div>    
  </div>  
</body>

<app-footer></app-footer>