<app-header></app-header>

<app-side-nav></app-side-nav>

<body>
  <!-- <div class="container text-center "> 
      <div class="text-center" style="margin-left:225px; margin-top: 100px">
        <div>
          <label for="sel">Search By (select one):</label>
            <select class="form-control dropdown-size" id="sel">
              <option>All</option>
              <option>Application Code</option>
              <option>Member Code</option>
              <option>Member Name</option>
              <option>Applied Amount</option>
              <option>Application Date</option>
            </select>
        </div>
      </div>
  </div> -->
  <div class="container">
    <div class="table-wrapper" style="margin-top:50px; width: 1000px; margin-left: 125px">
      <table class="table table-bordered">
          <tr>
            <th class="text-center" style="width:150px">Application Code</th>
            <th class="text-center" style="width:125px">Member Code </th>
            <th class="text-center" style="width:175px">Member Name</th>
            <th class="text-center" style="width:125px">Applied Amount</th>
            <th class="text-center" style="width:125px">Loan Status</th>
          </tr>
          <tr *ngFor="let user of users; let i= index;">
              <td>
                <input type="number" [(ngModel)]="user.application_code" class="text-center cell">
              </td>
              <td>
                <input type="number" [(ngModel)]="user.member_code"  class="text-center cell">
              </td>
              <td>
                <input type="text" [(ngModel)]="user.member_name" class="text-center cell">
              </td>
              <td>
                <input type="number" [(ngModel)]="user.loan_amount" class="text-center cell">
              </td>
              

                <div *ngIf="!user.approve_status && !user.reject_status">
                    <td><button class="btn btn1" style="height:32px; color: black" (click)="onSubmit(user)"><strong>Approve</strong></button></td>
                    <td><button class="btn btn-danger" style="height:32px; color: black" (click)="onClick(user)"><strong>Reject</strong></button></td>
                </div>
                <div *ngIf="user.approve_status && !user.reject_status">
                    <td><button class="btn btn1" style="height:32px; color: black" disabled><strong>Approved</strong></button></td>
                   <td><button class="btn btn-danger" style="height:32px; color: black" disabled><strong>Reject</strong></button></td>
                </div>
                <div *ngIf="!user.approve_status && user.reject_status">
                    <td><button class="btn btn1" style="height:32px; color: black" disabled><strong>Approve</strong></button></td>
                    <td><button class="btn btn-danger" style="height:32px; color: black" disabled><strong>Rejected</strong></button></td>
                </div>


          </tr>
      </table>
    </div>    
  </div>  
</body>

<app-footer></app-footer>