<app-header></app-header>

<app-side-nav></app-side-nav>

<div class="container">
  <div style="margin-top:100px;margin-left:225px">
      <form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-3">Applied Loan Amount:</label>
          <div class="col-sm-9">
            <input type="number" formControlName="loan_amount" class="form-control cell" [(ngModel)]="user.loan_amount" name="loan_amount">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Revised Loan Amount:</label>
          <div class="col-sm-9">
            <input type="number" formControlName="updated_loan_amount" class="form-control cell" name="updated_loan_amount">
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Approve</button>
          </div>
        </div>
      </form>
  </div>
</div> 

<app-footer></app-footer>